<p id="notice"><%= notice %></p>

<div class="row">
  <div class="span6 offset3">

<h1><%= @defect.name %></h1><br/>

<h4>
<table class="table">
<tr>
<td>Description :</td>
<td><%= @defect.description %></td>
</tr>
<tr>
<td>Process :</td>
<td><%= @target.name %></td>
</tr>
<tr>
<td>Created at :</td>
<td><%= @defect.created_at %></td>
</tr>
</table> 

</h4>

  </div>
</div>