<%#= form_for([@defect, @occurrence]) do |f| %>
<%= form_for(@occurrence) do |f| %>
  <% if @occurrence.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@occurrence.errors.count, "error") %> prohibited this occurrence from being saved:</h2>

      <ul>
      <% @occurrence.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%#= f.label :number %><br />
    <%= f.number_field :number, :placeholder => "NUMBER" %>
  </div>
  <div class="field">
    <%#= f.label :description %><br />
    <%= f.text_area :description, :placeholder => "DESCRIPTION", :rows => "1"  %>
  </div>
  <div class="field">
    <%#= f.label :defect_id %><br />
    <%= f.hidden_field :defect_id %>
  </div>
  <div class="field">
    <%#= f.label :target_id %><br />
    <%= f.hidden_field :target_id %>
  </div>
  <div class="field">
    <%#= f.label :company_id %><br />
    <%= f.hidden_field :company_id %>
  </div>
  <div class="field">
    <%#= f.label :user_id %><br />
    <%= f.hidden_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>