<p>
  <b>Number:</b>
  <%= @suggestion.number %>
</p>

<p>
  <b>Description:</b>
  <%= @suggestion.description %>
</p>

<p>
  <b>Defect:</b>
  <%= @suggestion.defect_id %>
</p>

<p>
  <b>Target:</b>
  <%= @suggestion.target_id %>
</p>

<p>
  <b>Company:</b>
  <%= @suggestion.company_id %>
</p>


<%= link_to 'Edit', edit_suggestion_path(@suggestion) %> |
<%= link_to 'Back', suggestions_path %>
