<!DOCTYPE html>
<html>
  <head>
    <%= metamagic :title => "Croopz - Simplify the data collection",
                  :description => "Build efficient action plans, increase profitability and keep everyone in the loop. Gain time so you can focus on your business.",
                  :keywords => %w(Lean 6sigma QCPC Quality Clinic Process Charts Pareto Continious improvement Quality assurance tool) %>
    <title><%= full_title(yield(:title)) %></title>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag :highcharts %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>    
  </head>
  <% if !user_signed_in? %>
  <script>
    var ROOT_URL = window.location.origin+'/';

    function setBackgroundImg () {
      var main_page_body = document.getElementById("body");
      if (window.document.URL == ROOT_URL) {
        main_page_body.style.background = "url(../assets/mac.jpg) no-repeat center center fixed";
        main_page_body.style.backgroundSize = "cover";
        main_page_body.style.WebkitBackgroundSize = "cover";
        main_page_body.style.MozBackgroundSize = "cover";
        main_page_body.style.OBackgroundSize = "cover";
      }
    }
    window.onload=setBackgroundImg;
  </script>
  <% end %>
  <body id="body">
    
    <%= render 'layouts/header' %>

    <div class="container">
      <% flash.each do |key, value| %>
        <%= content_tag(:div, value, class: "alert alert-#{key}") %>
      <% end %>    

      <%= yield %>
      <%= render 'layouts/footer' %>
      <%= debug(params) if Rails.env.development? %>
    </div>
    </div>
  </body>
     
</html>

